<%- include('./inclued/header.ejs') %> 
    <div class="bg-info d-flex justify-content-between">
      <a class="btn btn-dark btn-sm bg-dark" href="/">Main Page</a
      >Order-Input<a class="btn btn-sm btn-dark bg-dark" href="/details"
        >Details Page</a
      >
    </div>

   
      <form >
        <div class="row">
          <div class="card text-center bg-secondary mt-2">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <label class="text-light fs-6" for="order"
                      >Order Namber :
                    </label>
                    <input
                      type="text"
                      placeholder="ORDER NAMBER"
                      name="order-1"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="text-light bg-dark fw-bolder">
                    ITEM-1
                  </div>
                </div>
               
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Item Name"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Quentity"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Many"
                    aria-label=".form-control-sm example"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-warning">submit Item-1</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form >
        <div class="row">
          <div class="card text-center bg-success mt-2">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <label class="text-light fs-6" for="order"
                      >Order Namber :
                    </label>
                    <input
                      type="text"
                      placeholder="ORDER NAMBER"
                      name="order-2"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="text-light bg-dark fw-bolder">
                    ITEM-2
                  </div>
                </div>
               
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Item Name"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Quentity"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Many"
                    aria-label=".form-control-sm example"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-dark">Submit Item-2</button>
              </div>
             
            </div>
          </div>
        </div>
      </form>
      <form >
        <div class="row">
          <div class="card text-center bg-secondary my-2">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <label class="text-light fs-6" for="order"
                      >Order Namber :
                    </label>
                    <input
                      type="text"
                      placeholder="ORDER NAMBER"
                      name="order-3"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="text-light bg-dark fw-bolder">
                    ITEM-3
                  </div>
                </div>
             
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Item Name"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Quentity"
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Many"
                    aria-label=".form-control-sm example"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-warning">submit Item-3</button>
              </div>
            </div>
          </div>
        </div>
      </form>
   

      <%- include ('./inclued/footer.ejs') %> 